.nav-wrapper {
  background-color: #2f4858;
  padding: 1rem 3rem;
  vertical-align: middle;
}

.nav-group {
  display: flex;
  justify-content: space-between;
}

.nav-menu > ul {
  display: flex;
  list-style: none;
}
.nav-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.nav-menu > ul > li > a {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  padding: 0 0.5rem;
}

.nav-menu > ul > li > a:hover {
  border-bottom: 1px solid whitesmoke;
}
